/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        toFn {
            bindings = <&to 0>;
            key-positions = <49 54>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
  &none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
  &none  &kp Q  &kp W  &kp E  &kp R  &kp T    &kp Y  &kp U  &kp I  &kp O  &kp P  &none
  &none  &kp A  &kp S  &kp D  &kp F  &kp G    &kp H  &kp J  &kp K  &kp L  &none  &none
  &none  &kp Z  &kp X  &kp C  &kp V  &kp B    &kp N  &kp M  &none  &none  &none  &none
                &none  &none  &none  &none    &none  &none  &none  &none
            >;
        };
    };
};
